.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.modal {
    position: relative;
    top: 100px;
    right: 0;
    width: 650px;
    height: 600px;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 
        0 25px 50px -12px rgba(0, 0, 0, 0.2),
        0 4px 15px -3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    background-color: white;
    overflow-y: auto;
}

